{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perguntas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    </head>
    <body>

        <div id="loading-screen" class="loading-screen">
            <div class="loader" id="loader">
                <div class="loader-wrapper">
                    <span class="loader-letter">P</span>
                    <span class="loader-letter">r</span>
                    <span class="loader-letter">o</span>
                    <span class="loader-letter">c</span>
                    <span class="loader-letter">e</span>
                    <span class="loader-letter">s</span>
                    <span class="loader-letter">s</span>
                    <span class="loader-letter">a</span>
                    <span class="loader-letter">n</span>
                    <span class="loader-letter">d</span>
                    <span class="loader-letter">o</span>
                    <span class="loader-letter">.</span>
                    <span class="loader-letter">.</span>
                    <div class="loader-circle">.</div>
                </div>
            </div>
        </div>

        {% if messages %}
            <div class="messages-container position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050;">
                {% for message in messages %}
                    <div class="alert-message alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="container py-5">
            <h1 class="mb-4 text-center">Escolha uma pergunta</h1>

            <div class="mb-4 text-center">
                <div class="btn-group filtro-genero" role="group" aria-label="Filtro de gênero">
                    <a onclick="loading('{% url 'home' %}')" class="btn btn-outline-dark btn-filtro-genero {% if genero == 'todos' %}active{% endif %}">Todos</a>
                    <a onclick="loading('{% url 'filtro_genero' 'BIO' %}')" class="btn btn-outline-dark btn-filtro-genero {% if genero == 'BIO' %}active{% endif %}">Biografia</a>
                    <a onclick="loading('{% url 'filtro_genero' 'OBR' %}')" class="btn btn-outline-dark btn-filtro-genero {% if genero == 'OBR' %}active{% endif %}">Obras</a>
                    <a onclick="loading('{% url 'filtro_genero' 'ACO' %}')" class="btn btn-outline-dark btn-filtro-genero {% if genero == 'ACO' %}active{% endif %}">Ações do governo</a>
                </div>
            </div>


            <div class="row mt-5">
                {% for p in pergunta %}
                <div class="col-md-4 d-flex">
                    <div class="card card-question flex-fill">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.texto }}</h5>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex flex-wrap gap-2">
                                <button class="btn btn-sm btn-gradient btn-choice" onclick="loading('{% url 'escolher' p.pk %}')">
                                    Escolher
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'global/js/scripts.js' %}"></script>

    </body>
</html>
